<?xml version="1.0" encoding="utf-8" ?>
<SSPUAppSettings>

	<!--NOTE *****************************************************************************-->
	<!--If the key is specific to an environment, then env="Development" needs to be added -->
	<!--If the key is specific to a subsidiary, then <subsidiary name="UK"> needs to be added -->
	<!--For example, -->
	<!--<subsidiary name="UK"> -->
	<!--   <add key="myKey" env="Development" value="2" /> -->
	<!--</subsidiary> -->
	<!--********************************************************************************-->

	<!-- values for env are Development,Staging,Production as in MaryKay.Configuration.EnviromentType	-->
	<!-- default value and non-sub specific go here-->

  <!--<Environment env="Development"  ></Environment>-->
  <!--<add key="Environment" value="UnitTesting" />-->
  <!--<add key="Environment" value="QA" />
  <add key="Environment" value="Staging" />
  <add key="Environment" value="Production" />-->

  <add key="TRACE_FILE" value="D:\\TraceFile.log"/>
  <add key="DateTimeFormate" value="yyyy-MM-dd HH:mm:ss"/>
  <add key="PasswordMaxDays" value="60"/>
  <add key="HomePageNavID" value="2"/>

  <add key="JDataTableTargetPage" value="Services/TableOpSrv.aspx" />
  <add key="UploadfileTargetPage" value="Services/Uploadfile.ashx" />
  <add key ="UploadfileFolder" value="\Resource\UploadedFile\Files"/>

  <subsidiary name="SSPUCoreControls">
    
    <!--<add key="JQueryUITheme" value="Humanity" />-->
    <add key="JQueryUITheme" value="CUPERTINO" />
    <!--<add key="JQueryUITheme" value="LIGHTNESS" />-->
    <!--<add key="JQueryUITheme" value="OVERCAST" />-->
    <!--<add key="JQueryUITheme" value="RedMond" />-->
    <!--<add key="JQueryUITheme" value="Grinder" />-->
    <!--<add key="JQueryUITheme" value="SMOOTHNESS" />-->
    <!--<add key="JQueryUITheme" value="SouthStreet" />-->
    <!--<add key="JQueryUITheme" value="Sunny" />-->
    <!--<add key="JQueryUITheme" value="Start" />-->
    <!--<add key="JQueryUITheme" value="Darkness" />-->

    

  </subsidiary>

	<add key="Lab301Location" value="14#301"/>
	<add key="Lab316Location" value="14#316"/>
    <add key="DefaultClassID" value="3"/>
	<add key="DefaultCourseID" value="3"/>
	<add key="DefaultPageLab301SemesterID" value="3"/>
	<add key="MaxARCourseObjectiveNum" value="4"/>

  <add key="NotEditAuthorityTables" value="GlobalNavTree,UserGroup,UserDef,TableUIDefine,DepartmentInfo,Table_Sample,VideoPageAuthorityInfoByUserGroup,UserWithGroup,UserPrivateData,HTMLPageContent,HTMLPageAuthorityInfoByUserGroup,TableColumnAuthorityByUserGroup,TableAuthorityInfoByUserGroup,DocumentPageAuthorityInfoByUserGroup,DesingedPageAuthorityInfoByUserGroup"/>
  
</SSPUAppSettings>

