<?xml version="1.0" encoding="utf-8" ?>
<SSPULocalization>
	<!--NOTE *****************************************************************************-->
	<!--If the key is specific to an environment, then env="Development" needs to be added -->
	<!--If the key is specific to a subsidiary, then <subsidiary name="SSPU"> needs to be added -->
	<!--For example, -->
	<!--<subsidiary name="UK"> -->
	<!--   <add key="SSPUKey" env="Development" value="14#320" /> -->
	<!--</subsidiary> -->
	<!--********************************************************************************-->

	<!-- values for env are Development,Staging,Production as in MaryKay.Configuration.EnviromentType	-->
	<!-- default value and non-sub specific go here-->
	<!-- value=\"[a-z|A-Z|0-9]+-->

	<add key="ID" value="序号" />
	<add key="Comments" value="注释" />
	<add key="Enabled" value="有效" />
	<add key="CreatedTime" value="创建时间" />
	<add key="CreatorOperatorID" value="创建者ID" />
	<add key="LastUpdateTime" value="最后更新时间" />
	<add key="LastOperatorID" value="最后更新者ID" />
	<add key="Gender" value="性别" />
	<add key="GlobalNavTreeID" value="节点ID"/>
	<add key="GlobalNavTreeName" value="节点名"/>
	<add key="UserGroupID" value="用户组ID"/>
	<add key="UserGroupName" value="用户组"/>
	<add key="EditType" value="权限类型"/>
	<subsidiary name="Table_Sample">
		<add key="Name" value="Name"/>
		<add key="ShowDialogTableLink" value="ShowDialogTableLink"/>
		<add key="DoJSACtionLink" value="DoJSACtionLink"/>
		<add key="Photo" value="Photo"/>
		<add key="PhotoForShow" value="PhotoForShow"/>
	</subsidiary>
	<subsidiary name="GlobalNavTree">
		<add key="Name" value="节点"/>
		<add key="ParentID" value="父节点ID"/>
		<add key="NavTo" value="节点图标URL"/>
		<add key="OrderIndex" value="顺序"/>
		<add key="Comments" value="Tooltip"/>
	</subsidiary>
	<subsidiary name="UserGroup">
		<add key="Name" value="用户组"/>
		<add key="InheritFromGroupID" value="继承自ID"/>
		<add key="InheritFromGroupName" value="继承自"/>
	</subsidiary>
	<subsidiary name="UserDef">
		<add key="Name" value="姓名"/>
		<add key="AccountID" value="账户ID"/>
		<add key="Password" value="密码"/>
	</subsidiary>
	<subsidiary name="TableUIDefine">
		<add key="TableName" value="表名"/>
		<add key="ColumnName" value="字段名"/>
		<add key="UIDefine" value="UI定义"/>
	</subsidiary>
	<subsidiary name="TableColumnAuthorityByUserGroup">
		<add key="TableName" value="表名"/>
		<add key="TableFieldName" value="字段名"/>
		<add key="FieldEditType" value="权限类型"/>
	</subsidiary>
	<subsidiary name="TableAuthorityInfoByUserGroup">
		<add key="TableName" value="表名"/>
		<add key="EditType" value="权限类型"/>
		<add key="NavURL" value="URL"/>
		<add key="DefDataFilterStr" value="数据筛选"/>
	</subsidiary>
	<subsidiary name="DocumentPageAuthorityInfoByUserGroup">

		<add key="FileTitle" value="文件名"/>
		<add key="DocPath" value="上传新文件"/>
		<add key="DocPathForShow" value="文件内容"/>
		<add key="Comments" value="使用已有文件"/>
	</subsidiary>
	<subsidiary name="DesingedPageAuthorityInfoByUserGroup">

		<add key="PagePath" value="页面路径"/>
		<add key="DisplayOrder" value="顺序"/>

	</subsidiary>
	<subsidiary name="HTMLPageContent">
		<add key="GlobalNavTreeID" value="树节点ID"/>
		<add key="GlobalNavTreeName" value="树节点"/>
		<add key="Title" value="标题"/>
		<add key="HTMLContent" value="内容"/>
		<add key="OtherSettings" value="其它内容"/>
	</subsidiary>
	<subsidiary name="HTMLPageAuthorityInfoByUserGroup">
		<add key="GlobalNavTreeID" value="树节点ID"/>
		<add key="GlobalNavTreeName" value="树节点"/>
		<add key="UserGroupID" value="用户组ID"/>
		<add key="UserGroupName" value="用户组"/>
		<add key="PageType" value="页面类型"/>
		<add key="EditType" value="类型"/>
	</subsidiary>
	<subsidiary name="VideoPageAuthorityInfoByUserGroup">

		<add key="FileTitle" value="文件说明"/>
		<add key="VideoPath" value="上传视频文件"/>
		<add key="VideoPathForShow" value="视频文件"/>
		<add key="Comments" value="已有视频文件"/>
		<add key="ThumbnailsPath" value="上传缩略图"/>
		<add key="ThumbnailsPathForShow" value="缩略图"/>
		<add key="ExsitThumbnailsPath" value="已有缩略图"/>
		<add key="Highlights" value="Highlights内容"/>
	</subsidiary>
	<subsidiary name="UserWithGroup">
		<add key="UserDefID" value="用户ID"/>
		<add key="UserDefName" value="姓名"/>
		<add key="UserGroupID" value="用户组ID"/>
		<add key="UserGroupName" value="用户组"/>
	</subsidiary>

</SSPULocalization>
