<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SSPUAppSettings" type="SSPUCore.Configuration.SSPUAppSettingHandler,SSPUCore"/>
    <section name="SSPULocalization" type="SSPUCore.Configuration.SSPULocalizationHandler,SSPUCore"/>
  </configSections>
  <appSettings>
    <remove key="Environment"/>
    <remove key="CachingTime"/>
    <remove key="UploadFileSubRootName"/>
    <add key="Environment" value="Production"/>
    <add key="CachingTime" value="15"/>
    <add key="UploadFileSubRootName" value="SAIFORHuiDa"/>
    <add key="IsVirtualApp" value="False"/>
  </appSettings>
  <SSPUAppSettings file="Configurations/AppSettings.config"/>
  <SSPULocalization file="Configurations/Localization.config"/>
  <connectionStrings>
    <remove name="SaleAndInventory_Server"/>
    <add name="SaleAndInventory_Server" connectionString="Data Source=(local);Initial Catalog=MISPrac;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="/ErrorInfo.aspx"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="3000000" executionTimeout="3600" requestValidationMode="2.0"/>
    <sessionState mode="InProc" timeout="60"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>